

/* -------------------------------------- GENERAL -------------------------------------- */
.db-container {
    display: grid;
    grid-template-columns:2fr 1fr;
    gap: 1rem;
}


.db-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 24px 0px #4545502f;
    padding: 1rem;
}


/* -------------------------------------- SEARCH -------------------------------------- */
.search-container {

    max-width: 300px;
    color: var(--ec-blue01);
    border-radius: 12px;
    box-shadow: 0px 2.7px 27px 0px rgba(69, 69, 80, 0.144);
}

.search-label {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
}

.fa-magnifying-glass {
    margin-right: 0.5rem;
}

.search-input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 12px;
}


/* ---------------------------------- AVAILABLE CARS ---------------------------------- */
.db-ac-title {
    color: var(--ec-blue01);
    font-size: 1rem;
    font-weight: 600;
}

.db-ac-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.db-available-cars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #DEDEDE;
    padding-left: .8rem;
}

.db-car-select {
    border: none;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
 */


/* ---------------------------------- STATUS TABLE ---------------------------------- */

.status-header {
    display: flex;
    justify-content: space-between;
}

.status-filter {
    background: none;
    border: none;
    color: #525256;
    font-weight: 600;
}

.db-status-table h2 {
    font-size: 1rem;
    font-weight: 600;
}

.db-status-table tr {
    font-size: .75rem;
    font-weight: 300;
}

.db-status-table th {
    justify-content: center;
}

.car-id {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9999993b;
    border-radius: 4px;
    max-width: 80%;
    padding: .3rem;
}

.driver{
    max-width: 100px;
}

.status {
    display: flex;
    align-items: center;


}

.rent-status {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    border-style: double;
    border-color: #fff;
    margin-right: .2rem;
}

.complete {
    background-color: #52C93F;
}

.pending {
    background-color: #006AFF;
}

.in-route {
    background-color: #FF2727;
}


/* -------------------------------- EARNING SUMMARY --------------------------------- */
.earning-summary {
    max-width: 100%;
}

.earning-summary img {
    max-width: 100%; /* A imagem não excederá a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.es-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}

.es-header h3 {
    font-size: 1rem;
    font-weight: 600;
}

.es-legend {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin-bottom: 2rem;
}

.legend {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}

.legend-m {
    background-color: #006AFF;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: .4rem;
}

.legend-y {
    background-color: #656575;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: .4rem;
}


.es-select {
    max-width: 220px;
    border: none;
    padding: 0;
    max-height: 2rem;
    font-size: .8rem;
    color: #656575;
    padding-inline: .6rem;
}



/* ---------------------------------- SIDE CONTENT ---------------------------------- */

.side-db-content {
    margin-left: 1rem;
    max-width: 100%;
}

.side-db-content h2 {
    color: #525256;
    font-size: 1.3rem;
    font-weight: 600;
}

.side-db-content p {
    color: #A3A3A3;
    font-size: .8rem;

}

/* ----- CARD ----- */
.db-card {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 2.7px 27px 0px rgba(69, 69, 80, 0.144);
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header h3 {
    color: #656575;
    font-size: 1.1rem;
    font-weight: 600;
}

.card-day {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ec-blue03);
    color: #fff;
    padding: .3rem 1rem;
    border-radius: 2px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.card-value {
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.negative {
    color: #FF2727;
}

.positive {
    color: #52C93F;
}

.card-divider {
    background-color: #dfdfdf;
    height: 1px;
    width: 100%;
}

.card-trend {
    font-size: 1rem;
    font-weight: 600;
}

.card-footer{
    color: #656575;
    font-size: .9rem;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.ft-week{
    font-weight: 600;
}

.card-chart {
    max-width: 100%;
}

.card-chart img{
    max-width: 100%;
}


/* ----- CARD END ----- */
