.header-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 2px 0px 5px black;
    background-color: var(--blue-grey);
    color: white;
}

.header-login img {
    margin-left: 30%;
}

.header-login p {
    margin: 0;
    font-weight: 600;
}

.header-login div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11%;
    margin-right: 2%;
}

.div-help {
    display: flex;
}

.div-help button {
    display: flex;
    align-items: center;
}

.div-help i {
    font-size: 8px !important;
    border-radius: 100% !important;
    border: 2px solid white !important;
    padding: 3px !important;
}

.div-help p {
    font-weight: 200 !important;
    font-size: 14px;
}

.header-login button, .header-login i {
    background: none;
    border: none;
    color: white;
}

.container-login {
    display: flex;
    align-items: center;
}

.left-content {
    margin: 6% 0 0% 4%;
    height: 100%;
    width: 50%;
}

.left-content .people-traveling-image {
    width: 80%;
    margin-bottom: 15px;
}

.left-content .network {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17%;
    width: 24%;
    align-items: center;
}

.left-content .logo-easy-carro {
    width: 57%;
}

.left-content .div-network-icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    padding-top: 15px;
}

.left-content .div-network-icons i {
    cursor: pointer;
    background: var(--blue-grey);
    padding: 6px;
    border-radius: 100%;
    font-size: 12px;
    min-width: 22.5px;
    text-align: center;
}

.right-content {
    display: flex;
    flex-direction: column;
    height: 490px;
    width: 30%;
    justify-content: center;
}

.spinner-wrap{
    position: fixed;
    z-index: -1;
    margin-top: 200px;
}

.spinner-item{
    background: #f7f7f730;
    border: 20px solid #36b9a80f;
    border-radius: 50%;
    z-index: -1;
    height: 700px;
    width: 700px;
    position: fixed;
    left: 93%;
    top: 12%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: zoom 5s linear 0.75s infinite;
}
.spinner-item--2{
    animation-delay: -0.75s;
}

.spinner-item--3{
    animation-delay: 0.75s;
}

.right-content .info-login {
    font-weight: 600;
    margin-bottom: 22px;
}

.right-content .form-input-login  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55%;
}

.right-content input, .right-content input:focus {
    border-radius: 10px;
    background: #f5f5f5;
    border: none;
    border-bottom: 2px solid var(--ec-blue04);
    box-shadow: none !important;
}

.right-content label::after {
    background: #f5f5f5 !important;
}

.right-content .div-password {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 4%;
}

.right-content .input-password {
    display: flex;
    align-items: center;
    width: 100%;
}

.right-content .input-password i {
    margin-left: -10%;
    color: #97a6b4;
}

.right-content .div-password a {
    text-decoration: none !important;
    color: #97a6b4 !important;
    font-size: 14px;
    margin-top: 5px;
}

.right-content button {
    cursor: pointer !important;
    padding: 14px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 9px rgb(161 161 161 / 50%);
    background: var(--ec-blue04);
}

.right-content button a {
    width: 100%;
    display: block;
    color: white;
    font-weight: 700;
    text-decoration: none !important;
}

form i {
    cursor: pointer;
}

.footer {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    width: 100%;
    font-weight: 800;
}

.footer p {
    margin: 0;
}

.footer .p-rules {
    cursor: pointer;
}

.footer .language-footer {
    padding-bottom: 3%;
}

.footer .language-footer p {
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5px;
}

.footer .language-footer .form-select {
    cursor: pointer;
    border: none !important;
    padding: 0 !important;
    color: #505050 !important;
}

@media (max-width: 1020px) {

    .header-login div:last-of-type {
        width: 17%;
    }

    .right-content {
        display: flex;
        flex-direction: column;
        height: 550px;
        width: 45%;
        justify-content: center;
    }
        
    .left-content {
        display: none;
    }

    .container-login {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .network {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24%;
        align-items: center;
    }

    .div-network-icons {
        display: flex;
        justify-content: space-evenly;
        width: 150%;
        color: white;
        padding-top: 15px;
    }

    .div-network-icons i {
        cursor: pointer;
        background: var(--blue-grey);
        padding: 6px;
        border-radius: 100%;
        font-size: 12px;
        min-width: 22.5px;
        text-align: center;
    }
}

@keyframes zoom {
    0% {
        transform: translate(-50%, -50%) scale(0.2);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}